@charset "UTF-8";

.reveal .slides > section, .reveal .slides > section > section {
    width: 968px; /* make this min width eventually */
}

footer {
    font-size: 0.77em;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.75;
}

.small {
    font-size: 0.70em;
}

table {
    margin: auto;
}

table td {
    vertical-align: top;
    padding: 0.6em;
}

li {
    margin-bottom: 0.2em;
}

.reveal p, .reveal section > * > li, .reveal div {
    margin-bottom: 0.5em;
}

.condensed li {
    margin-bottom: 0;
}

.condensed td {
    padding-top: 0;
    padding-bottom: 0;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}
